/* .page-container {
  display: flex;
}
.dark-mode .page-container {
  background-color: black;
} 
.box {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px; 
}

.box{
  background-color: #F8F8F8;
  height:80rem
}
.dark-mode .box{
  background-color: black;
}
html,
body {
  height: 100%;
  background-color: white;
  margin-bottom: 2rem;
}
.p-5{
  background-color: white;
}
.sidebar {
  position: 'fixed';
   top: '16rem'; 
   right: '3rem'
}
.sidebar-box {
  position: sticky;
  margin-top: 21rem;
  left: 1210px;
  transform: translate(145%, -70%);
  padding: 20px;
  background-color: white;
  color: black;
  width: 27rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
}
.share-button-box {
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 4px;
  margin: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional h6 {
  color: #999999;
  margin-left: 1%;
}
.additional {
  margin-top: 70rem; 
  margin-left: -55%;
  text-align: center;

}

.list-items {
  list-style: none;
  padding: 0;
  color:#666666;
}
.dark-mode .list-items{
  color: #CCCCCC;
}
.list-items li {
  margin-bottom: 0.8rem;
}
.separatorline {
  flex-grow: 1;
  height: 1px;
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color:#DDDDDD;
}

.dark-mode {
  background-color: black;
  color: #fff;
}

.dark-mode a {
  color: #fff;
} */