/* .banner {
    position: relative;
    overflow: hidden;
    height: 250px;
  }

  .banner img {
    width: 100%;
    height: auto;
  }
  .ml-1{
    margin-left: 20px;
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; 
    background-image: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
    animation: wave-animation 2s infinite linear;
    transform: translateX(-100%);
  }

  @keyframes wave-animation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .disgrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

@media (max-width: 990px){
  .disgrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dark-mode{
  background-color: black;
}

.dark-mode .home{
  background-color: black;
} */