/* .inside{
    position: relative;
    right: 85px;
    width: 75px;
    height: 35px;
    top:2px; 
}
.transaction-status{
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    width: max-content;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.bgy{
    background: #ffc107;
}
.transaction-details{
    line-height: 15px;
}
.transaction-id{
    color: #666;
}
.transaction-id:hover{
    color: #3dbf8c;
}
.transaction-item{
    margin-bottom: 20px;
} */